@model WorldTour.Models.Flights

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="searchBar">
@RenderPage("~/Views/Home/SearchBarPartial.cshtml")
</section>

<section id="carousel" >
    @RenderPage("~/Views/Home/Carousel.cshtml")
    <a href="@Url.Action("AllOffers")"><input type="button" class="btn btn-primary" value="View all offers"/></a>
</section>
