@model WorldTour.Models.Flights

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="searchBar">
@RenderPage("~/Views/Home/SearchBarPartial.cshtml")
</section>

<section id="carousel">
    @RenderPage("~/Views/Home/Carousel.cshtml")
</section>
<div style="width:100%">@RenderPage("~/Views/Shared/_footer.cshtml")</div>