<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet"  type="text/css"/>
</head>
<body>
    <div>@RenderPage("~/Views/Shared/_header.cshtml")</div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <div>
        @RenderPage("~/Views/Shared/_footer.cshtml")
    </div>
</body>
</html>
